---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { slide } from 'astro:transitions';
import { Icon } from 'astro-icon/components'
import CountdownTimer from '../components/CountdownTimer';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
		<div class="grid grid-flow-col grid-rows-2">
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform scale-110 -rotate-6"
			>
			  <img src="/img/Departamento.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="col-start-2 rotate-6 translate-y-24 transform translate-x-9 scale-110"
			>
			  <img src="/img/header.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-x--20 scale-110"
			>
			  <img src="/img/header1.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-y-24 translate-x-24 scale-110 -rotate-6"
			>
			  <img src="/img/header2.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="row-start-1 col-start-2 scale-110 col-span-2 rotate-6 translate-y-10"
			>
			  <img src="/img/header3.jpg" alt="" loading="lazy" />
			</div>
		</div>

      <div class="text-center">
		
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
		驴Qui茅nes somos?
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Somos una plataforma dedicada a resaltar las maravillas tur铆sticas de
          Colombia. Nuestro prop贸sito es guiar a quienes desean explorar nuestro
          pa铆s, brindando informaci贸n detallada sobre destinos, cultura y
          tradiciones. Creemos en el poder de los viajes para conectar personas
          y enriquecer experiencias, y estamos aqu铆 para ayudarte a descubrir
          todo lo que Colombia tiene para ofrecer.
        </p>
		<br>
        <div class="grid grid-flow-col grid-rows-1 animate-pulse">
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform scale-110 -rotate-6"
			>
			  <img src="/img/bioparque.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="col-start-3 rotate-6 transform scale-110"
			>
			  <img src="/img/header4.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-x--20 scale-110"
			>
			  <img src="/img/header1.jpg" alt="" loading="lazy" />
			</div>
		</div>
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Nuestra Misi贸n
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Nuestra misi贸n es ser el puente entre Colombia y el mundo,
          compartiendo la riqueza cultural y natural de nuestro pa铆s. Buscamos
          inspirar a viajeros de todas partes a sumergirse en nuestras
          tradiciones, paisajes y sabores, facilitando informaci贸n y recursos
          que hagan de su visita una experiencia inolvidable.
        </p>
        <br />
		<h2 class="text-4xl font-bold text-black leading-tight">
			 Bienvenido a VILLAVO 
		  </h2>
		<div style="display: flex; justify-content: center; margin-top: 2rem;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63671.735241609524!2d-73.65025970023798!3d4.124842047569326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2ddfba283211%3A0x537e40041d7b20c2!2sVillavicencio%2C%20Meta!5e0!3m2!1ses!2sco!4v1731504390296!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		  </div>
        <br />
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Nuestra Visi贸n
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Aspiramos a ser la plataforma l铆der en promoci贸n tur铆stica de
          Colombia, reconocida por la calidad de nuestra informaci贸n y el
          compromiso con el turismo sostenible. Queremos contribuir al
          desarrollo de las comunidades locales y al fortalecimiento de la
          imagen positiva de Colombia a nivel internacional.
        </p>
		<br />
		<h1 class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Fiestas y celebraciones</h1>
		<CountdownTimer client:load />
      </div>
    </main>
    <Footer />
  </body>
</html>
