---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { fade, slide } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
		<div class="grid grid-flow-col grid-rows-2">
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform scale-110 -rotate-6"
			>
			  <img src="/img/Departamento.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="col-start-2 rotate-6 translate-y-24 transform translate-x-9 scale-110"
			>
			  <img src="/img/header.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-x--20 scale-110"
			>
			  <img src="/img/header1.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-y-24 translate-x-24 scale-110 -rotate-6"
			>
			  <img src="/img/header2.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="row-start-1 col-start-2 scale-110 col-span-2 rotate-6 translate-y-10"
			>
			  <img src="/img/header3.jpg" alt="" loading="lazy" />
			</div>
		</div>

      <div class="text-center">
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          ¿Quiénes somos?
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Somos una plataforma dedicada a resaltar las maravillas turísticas de
          Colombia. Nuestro propósito es guiar a quienes desean explorar nuestro
          país, brindando información detallada sobre destinos, cultura y
          tradiciones. Creemos en el poder de los viajes para conectar personas
          y enriquecer experiencias, y estamos aquí para ayudarte a descubrir
          todo lo que Colombia tiene para ofrecer.
        </p>
		<br>
        <div class="grid grid-flow-col grid-rows-1 animate-pulse">
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform scale-110 -rotate-6"
			>
			  <img src="/img/Departamento.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="col-start-3 rotate-6 transform scale-110"
			>
			  <img src="/img/header.jpg" alt="" loading="lazy" />
			</div>
			<div
			  transition:animate={slide({ duration: '1s' })}
			  class="transform translate-x--20 scale-110"
			>
			  <img src="/img/header1.jpg" alt="" loading="lazy" />
			</div>
		</div>
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Nuestra Misión
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Nuestra misión es ser el puente entre Colombia y el mundo,
          compartiendo la riqueza cultural y natural de nuestro país. Buscamos
          inspirar a viajeros de todas partes a sumergirse en nuestras
          tradiciones, paisajes y sabores, facilitando información y recursos
          que hagan de su visita una experiencia inolvidable.
        </p>
        <br />
        <h1
          class="text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Nuestra Visión
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Aspiramos a ser la plataforma líder en promoción turística de
          Colombia, reconocida por la calidad de nuestra información y el
          compromiso con el turismo sostenible. Queremos contribuir al
          desarrollo de las comunidades locales y al fortalecimiento de la
          imagen positiva de Colombia a nivel internacional.
        </p>
        <br />
      </div>
    </main>
    <Footer />
  </body>
</html>
