---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<div class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8">
			<div class="transform scale-110 -rotate-6">
			  <img src="/Departamento.jpg" alt="" loading="lazy">
			</div>
			<div class="col-start-3 transform scale-75 rotate-6 translate-x-2 translate-y-15">
			  <img src="/header.jpg" alt="" loading="lazy">
			</div>
			<div class="transform scale-150 translate-y-11">
			  <img src="/header1.jpg" alt="" loading="lazy">
			</div>
			<div class="transform translate-y-24">
			  <img src="/header2.jpg" alt="" loading="lazy">
			</div>
			<div class="row-start-1 col-start-2 col-span-2">
			  <img src="/header3.jpg" alt="" loading="lazy">
			</div>
		  </div>
		<main>
			<h1 class="titulos_bonitos">¿Quiénes somos?</h1>
			<p>
				Somos una plataforma dedicada a resaltar las maravillas turísticas de Colombia. 
				Nuestro propósito es guiar a quienes desean explorar nuestro país, 
				brindando información detallada sobre destinos, cultura y tradiciones.
				 Creemos en el poder de los viajes para conectar personas y enriquecer experiencias,
				  y estamos aquí para ayudarte a descubrir todo lo que Colombia tiene para ofrecer.
			</p>
			
			</p>
			<h1 class="titulos_bonitos">Nuestra misión </h1>
			<p>Nuestra misión es ser el puente entre Colombia y el mundo, compartiendo la riqueza cultural y natural de nuestro país. 
				Buscamos inspirar a viajeros de todas partes a sumergirse en nuestras tradiciones, paisajes y sabores, 
				facilitando información y recursos que hagan de su visita una experiencia inolvidable.</p>
			
			<h1 class="titulos_bonitos" >Nuestra Visión </h1>
			<p>Aspiramos a ser la plataforma líder en promoción turística de Colombia, 
				reconocida por la calidad de nuestra información y el compromiso con el turismo sostenible. 
				Queremos contribuir al desarrollo de las comunidades locales
				 y al fortalecimiento de la imagen positiva de Colombia a nivel internacional.</p>
		
		</main>
		<Footer />
	</body>
</html>
